<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:replace="common :: head(title='个人中心-360健身工作室')"></div>
<body data-type="generalComponents">
    <div id="app">
        <!-- 头部导航栏 -->
        <div th:replace="common :: header"></div>

        <div class="tpl-page-container tpl-page-header-fixed">
            <!-- 左侧页签 -->
            <div th:replace="common :: side(activeUrl='/center/photo',isShow='true')"></div>

            <!-- 正文内容 -->
            <div class="tpl-content-wrapper">
                <ol class="am-breadcrumb">
                    <li><a href="/" class="am-icon-home">首页</a></li>
                    <li class="am-active">个人中心</li>
                    <li class="am-active">头像管理</li>
                </ol>
                <div class="tpl-portlet-components">
                    <div class="portlet-title">
                        <div class="caption font-green bold">
                            <span class="am-icon-photo"></span> 头像管理
                        </div>
                    </div>
                    <div class="tpl-block">
                        <div class="am-panel-default">
                            <div class="am-panel-bd">
                                <div class="am-g">
                                    <div class="am-u-md-4">
                                        <img class="am-img-circle am-img-thumbnail" th:src="@{{path}(path=${session.account.getCoach().getImg()})}" alt="" style="width: 300px;height: 300px;"/>
                                    </div>
                                    <div class="am-u-md-8">
                                        <p>你可以使用 系统默认提供的头像 或者 上传本地头像。 </p>
                                        <form class="am-form" action="/center/upload" method="post" enctype="multipart/form-data" onsubmit="return check()">
                                        <div class="am-form-group">
                                            <div class="am-form-group am-form-file">
                                                <button type="button" class="am-btn am-btn-danger am-btn-sm">
                                                    <i class="am-icon-cloud-upload"></i> 选择头像
                                                </button>
                                                <input name="file" id="doc-form-file" type="file" multiple>
                                                <span id="file-list">未选择任何文件</span>
                                            </div>
                                            <p class="am-form-help">请选择要上传的头像...</p>
                                            <button type="submit" class="am-btn am-btn-primary am-btn-xs">保存</button>
                                        </div>
                                    </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tpl-alert"></div>
                </div>
            </div>
        </div>
    </div>
</body>
<script src="/assets/js/jquery.min.js"></script>
<script src="/js/vue.min.js"></script>
<script src="/assets/js/amazeui.min.js"></script>
<script src="/assets/js/app.js"></script>
<script>
    $(function() {
        $('#doc-form-file').on('change', function() {
            var fileNames = '';
            $.each(this.files, function() {
                fileNames += this.name;
            });
            $('#file-list').html(fileNames);
        });
    });
    function check() {
        let fileInput = $('#doc-form-file').get(0).files[0];
        if(!fileInput){
            alert("请选择要上传的头像...");
            return false;
        }
        let name = fileInput.name;
        let suffix = name.substring(name.lastIndexOf(".") + 1);
        if(suffix!="jpg" && suffix!="png"){
            alert("请选择jpg或者png图片文件...");
            return false;
        }
        return true;
    }
</script>
</html>