<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:replace="common :: head(title='教练管理-360健身工作室')"></div>
<body data-type="generalComponents">
    <div id="app">
        <!-- 头部导航栏 -->
        <div th:replace="common :: header"></div>

        <div class="tpl-page-container tpl-page-header-fixed">
            <!-- 左侧页签 -->
            <div th:replace="common :: side(activeUrl='/coach')"></div>

            <!-- 正文内容 -->
            <div class="tpl-content-wrapper">
                <ol class="am-breadcrumb">
                    <li><a href="/" class="am-icon-home">首页</a></li>
                    <li class="am-active">教练管理</li>
                </ol>
                <div class="tpl-portlet-components">
                    <div class="portlet-title">
                        <div class="caption font-green bold">
                            <span class="am-icon-user"></span> 教练列表
                        </div>
                    </div>
                    <div class="tpl-block">
                        <div class="am-g">
                            <div class="am-u-sm-12 am-u-md-6">
                                <div class="am-btn-toolbar">
                                    <div class="am-btn-group am-btn-group-xs">
                                        <button @click="add" type="button" class="am-btn am-btn-default am-btn-success"><span class="am-icon-plus"></span> 新增</button>
                                        <button @click="batchDelete" type="button" class="am-btn am-btn-default am-btn-danger"><span class="am-icon-trash-o"></span> 批量删除</button>
                                        <button type="button" class="am-btn am-btn-default am-btn-secondary"><span class="am-icon-file-excel-o"></span> 导出</button>
                                    </div>
                                </div>
                            </div>
                            <div class="am-u-sm-12 am-u-md-3">
                                <div class="am-input-group am-input-group-sm">
                                    <input type="text" class="am-form-field" placeholder="请输入教练姓名">
                                    <span class="am-input-group-btn">
                                        <button class="am-btn am-btn-default am-btn-success tpl-am-btn-success am-icon-search" type="button"></button>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="am-g">
                            <div class="am-u-sm-12">
                                <table class="am-table am-table-striped am-table-hover table-main">
                                    <thead>
                                        <tr>
                                            <th class="table-title"><input type="checkbox" class="tpl-table-fz-check" @click="checkAll" id="checkAll"></th>
                                            <th class="table-title">姓名</th>
                                            <th class="table-title am-hide-sm-only">性别</th>
                                            <th class="table-title am-hide-sm-only">年龄</th>
                                            <th class="table-title am-hide-sm-only">联系方式</th>
                                            <th class="table-title">登录名</th>
                                            <th class="table-title">登录密码</th>
                                            <th class="table-title">操作</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td><input type="checkbox" value="111"></td>
                                            <td><a>李四</a></td>
                                            <td>男</td>
                                            <td>18</td>
                                            <td>13856248726</td>
                                            <td>lisi001</td>
                                            <td>123456</td>
                                            <td>
                                                <div class="am-btn-toolbar">
                                                    <div class="am-btn-group am-btn-group-xs">
                                                        <button @click="edit" class="am-btn am-btn-default am-btn-xs am-hide-sm-only am-text-secondary"><span class="am-icon-pencil-square-o"></span> 编辑</button>
                                                        <button @click="del(111)" class="am-btn am-btn-default am-btn-xs am-hide-sm-only am-text-danger"><span class="am-icon-trash-o"></span> 删除</button>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td><input type="checkbox" value="111"></td>
                                            <td><a>王五</a></td>
                                            <td>男</td>
                                            <td>18</td>
                                            <td>13856248726</td>
                                            <td>wangwu</td>
                                            <td>123456</td>
                                            <td>
                                                <div class="am-btn-toolbar">
                                                    <div class="am-btn-group am-btn-group-xs">
                                                        <button @click="edit" class="am-btn am-btn-default am-btn-xs am-hide-sm-only am-text-secondary"><span class="am-icon-pencil-square-o"></span> 编辑</button>
                                                        <button @click="del(111)" class="am-btn am-btn-default am-btn-xs am-hide-sm-only am-text-danger"><span class="am-icon-trash-o"></span> 删除</button>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                <div class="am-cf">
                                    <span>共2条记录</span>
                                    <div class="am-fr">
                                        <ul class="am-pagination tpl-pagination">
                                            <li class="am-disabled"><a href="#">«</a></li>
                                            <li class="am-active"><a href="#">1</a></li>
                                            <li><a href="#">2</a></li>
                                            <li><a href="#">»</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <hr>
                            </div>
                        </div>
                    </div>
                    <div class="tpl-alert"></div>
                </div>
            </div>
        </div>
    </div>

    <div th:replace="common :: tab"></div>
</body>
<script src="/assets/js/jquery.min.js"></script>
<script src="/js/vue.min.js"></script>
<script src="/assets/js/amazeui.min.js"></script>
<script src="/assets/js/app.js"></script>
</html>