<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title th:text="${title==null?'360健身工作室':title}">360健身工作室</title>
    <meta name="description" content="360健身工作室 index 页面">
    <meta name="keywords" content="360健身工作室">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
    <link rel="icon" type="image/png" href="/assets/i/favicon.png">
    <link rel="apple-touch-icon-precomposed" href="/assets/i/app-icon72x72@2x.png">
    <meta name="apple-mobile-web-app-title" content="Amaze UI"/>
    <link rel="stylesheet" href="/assets/css/amazeui.min.css"/>
    <link rel="stylesheet" href="/assets/css/admin.css">
    <link rel="stylesheet" href="/assets/css/app.css">
</head>

<body data-type="index">
<div id="app">
    <!-- 头部导航栏 -->
    <header class="am-topbar am-topbar-inverse admin-header" th:fragment="header">
        <div class="am-topbar-brand">
            <a href="/" class="tpl-logo">
                <img src="/assets/img/logo.png" alt="">
            </a>
        </div>
        <div class="am-icon-list tpl-header-nav-hover-ico am-fl am-margin-right"></div>
        <button class="am-topbar-btn am-topbar-toggle am-btn am-btn-sm am-btn-success am-show-sm-only" data-am-collapse="{target: '#topbar-collapse'}">
            <span class="am-sr-only">导航切换</span>
            <span class="am-icon-bars"></span>
        </button>
        <div class="am-collapse am-topbar-collapse" id="topbar-collapse">
            <ul class="am-nav am-nav-pills am-topbar-nav am-topbar-right admin-header-list tpl-header-list">
                <li class="am-dropdown" data-am-dropdown data-am-dropdown-toggle>
                    <a class="am-dropdown-toggle tpl-header-list-link" href="javascript:;">
                        <span class="tpl-header-list-user-nick">刘儒</span><span class="tpl-header-list-user-ico"><img src="/assets/img/user01.png"></span>
                    </a>
                    <ul class="am-dropdown-content">
                        <li><a href="/center/photo"><span class="am-icon-photo"></span> 个人头像</a></li>
                        <li><a href="/center/data"><span class="am-icon-bell-o"></span> 个人资料</a></li>
                        <li><a><span class="am-icon-power-off"></span> 退出</a></li>
                    </ul>
                </li>
                <li>
                    <a href="###" class="tpl-header-list-link">
                        <span class="am-icon-sign-out tpl-header-list-ico-out-size"></span>
                    </a>
                </li>
            </ul>
        </div>
    </header>

    <div class="tpl-page-container tpl-page-header-fixed">
        <!-- 左侧页签 -->
        <div class="tpl-left-nav tpl-left-nav-hover" th:fragment="side">
            <div class="tpl-left-nav-title">功能列表</div>
            <div class="tpl-left-nav-list">
                <ul class="tpl-left-nav-menu">
                    <li class="tpl-left-nav-item">
                        <a href="/" th:class="${activeUrl=='/'?'nav-link tpl-left-nav-link-list active':'nav-link tpl-left-nav-link-list'}">
                            <i class="am-icon-home am-icon-fw"></i>
                            <span>首页</span>
                        </a>
                    </li>
                    <li class="tpl-left-nav-item">
                        <a href="javascript:;" class="nav-link tpl-left-nav-link-list">
                            <i class="am-icon-cog am-icon-spin am-icon-fw"></i>
                            <span>个人中心</span>
                            <i class="am-icon-angle-right tpl-left-nav-more-ico am-fr am-margin-right tpl-left-nav-more-ico-rotate"></i>
                        </a>
                        <ul class="tpl-left-nav-sub-menu" th:style="'display:' + @{(${isShow} ? 'block' : 'none')} + ''">
                            <li>
                                <a href="/center/photo" th:class="${activeUrl=='/center/photo'?'active':''}">
                                    <i class="am-icon-angle-right"></i>
                                    <span>头像管理</span>
                                    <i class="am-icon-star tpl-left-nav-content-ico am-fr am-margin-right"></i>
                                </a>

                                <a href="/center/data" th:class="${activeUrl=='/center/data'?'active':''}">
                                    <i class="am-icon-angle-right"></i>
                                    <span>个人资料</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="tpl-left-nav-item">
                        <a href="/user" th:class="${activeUrl=='/user'?'nav-link tpl-left-nav-link-list active':'nav-link tpl-left-nav-link-list'}">
                            <i class="am-icon-users am-icon-fw"></i>
                            <span>会员管理</span>
                        </a>
                    </li>
                    <li class="tpl-left-nav-item">
                        <a href="/coach" th:class="${activeUrl=='/coach'?'nav-link tpl-left-nav-link-list active':'nav-link tpl-left-nav-link-list'}">
                            <i class="am-icon-user am-icon-fw"></i>
                            <span>教练管理</span>
                        </a>
                    </li>
                    <li class="tpl-left-nav-item">
                        <a href="/course" th:class="${activeUrl=='/course'?'nav-link tpl-left-nav-link-list active':'nav-link tpl-left-nav-link-list'}">
                            <i class="am-icon-th-large am-icon-fw"></i>
                            <span>课程分类</span>
                        </a>
                    </li>
                    <li class="tpl-left-nav-item">
                        <a href="/record" th:class="${activeUrl=='/record'?'nav-link tpl-left-nav-link-list active':'nav-link tpl-left-nav-link-list'}">
                            <i class="am-icon-list-alt am-icon-fw"></i>
                            <span>记录管理</span>
                        </a>
                    </li>
                    <li class="tpl-left-nav-item">
                        <a href="/help" th:class="${activeUrl=='/help'?'nav-link tpl-left-nav-link-list active':'nav-link tpl-left-nav-link-list'}">
                            <i class="am-icon-question am-icon-fw"></i>
                            <span>帮助</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
</body>
</html>