<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>360健身工作室</title>
    <meta name="description" content="360健身工作室 index 页面">
    <meta name="keywords" content="360健身工作室">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
    <link rel="icon" type="image/png" href="/assets/i/favicon.png">
    <link rel="apple-touch-icon-precomposed" href="/assets/i/app-icon72x72@2x.png">
    <meta name="apple-mobile-web-app-title" content="Amaze UI"/>
    <link rel="stylesheet" href="/assets/css/amazeui.min.css"/>
    <link rel="stylesheet" href="/assets/css/admin.css">
    <link rel="stylesheet" href="/assets/css/app.css">
</head>

<body data-type="index">
    <div id="app">
        <!-- 头部导航栏 -->
        <header class="am-topbar am-topbar-inverse admin-header">
            <div class="am-topbar-brand">
                <a href="/" class="tpl-logo">
                    <img src="/assets/img/logo.png" alt="">
                </a>
            </div>
            <div class="am-icon-list tpl-header-nav-hover-ico am-fl am-margin-right"></div>
            <button class="am-topbar-btn am-topbar-toggle am-btn am-btn-sm am-btn-success am-show-sm-only" data-am-collapse="{target: '#topbar-collapse'}">
                <span class="am-sr-only">导航切换</span>
                <span class="am-icon-bars"></span>
            </button>
            <div class="am-collapse am-topbar-collapse" id="topbar-collapse">
                <ul class="am-nav am-nav-pills am-topbar-nav am-topbar-right admin-header-list tpl-header-list">
                    <li class="am-dropdown" data-am-dropdown data-am-dropdown-toggle>
                        <a class="am-dropdown-toggle tpl-header-list-link" href="javascript:;">
                            <span class="tpl-header-list-user-nick">刘儒</span><span class="tpl-header-list-user-ico"><img src="/assets/img/user01.png"></span>
                        </a>
                        <ul class="am-dropdown-content">
                            <li><a data-am-modal="{target: '#grzx', width: 400, height: 225}"><span class="am-icon-cog"></span> 个人中心</a></li>
                            <li><a><span class="am-icon-power-off"></span> 退出</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="###" class="tpl-header-list-link">
                            <span class="am-icon-sign-out tpl-header-list-ico-out-size"></span>
                        </a>
                    </li>
                </ul>
            </div>
        </header>

        <!-- 个人中心弹出框 -->
        <div class="am-modal am-modal-no-btn" id="grzx">
            <div class="am-modal-dialog">
                <div class="am-modal-hd">个人中心
                    <a href="javascript: void(0)" class="am-close am-close-spin" data-am-modal-close>&times;</a>
                </div>
                <div class="am-modal-bd">
                    个人中心内容。。。。
                </div>
            </div>
        </div>

        <div class="tpl-page-container tpl-page-header-fixed">
            <!-- 左侧页签 -->
            <div class="tpl-left-nav tpl-left-nav-hover">
                <div class="tpl-left-nav-title">功能列表</div>
                <div class="tpl-left-nav-list">
                    <ul class="tpl-left-nav-menu">
                        <li class="tpl-left-nav-item">
                            <a href="/" class="nav-link tpl-left-nav-link-list active">
                                <i class="am-icon-home am-icon-fw"></i>
                                <span>首页</span>
                            </a>
                        </li>
                        <li class="tpl-left-nav-item">
                            <a href="javascript:;" class="nav-link tpl-left-nav-link-list">
                                <i class="am-icon-cog am-icon-spin am-icon-fw"></i>
                                <span>个人中心</span>
                                <i class="am-icon-angle-right tpl-left-nav-more-ico am-fr am-margin-right tpl-left-nav-more-ico-rotate"></i>
                            </a>
                            <ul class="tpl-left-nav-sub-menu">
                                <li>
                                    <a href="/center/photo">
                                        <i class="am-icon-angle-right"></i>
                                        <span>头像管理</span>
                                        <i class="am-icon-star tpl-left-nav-content-ico am-fr am-margin-right"></i>
                                    </a>

                                    <a href="/center/data">
                                        <i class="am-icon-angle-right"></i>
                                        <span>个人资料</span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="tpl-left-nav-item">
                            <a href="/user" class="nav-link tpl-left-nav-link-list">
                                <i class="am-icon-users am-icon-fw"></i>
                                <span>会员管理</span>
                            </a>
                        </li>
                        <li class="tpl-left-nav-item">
                            <a href="/coach" class="nav-link tpl-left-nav-link-list">
                                <i class="am-icon-user am-icon-fw"></i>
                                <span>教练管理</span>
                            </a>
                        </li>
                        <li class="tpl-left-nav-item">
                            <a href="/course" class="nav-link tpl-left-nav-link-list">
                                <i class="am-icon-th-large am-icon-fw"></i>
                                <span>课程分类</span>
                            </a>
                        </li>
                        <li class="tpl-left-nav-item">
                            <a href="/record" class="nav-link tpl-left-nav-link-list">
                                <i class="am-icon-list-alt am-icon-fw"></i>
                                <span>记录管理</span>
                            </a>
                        </li>
                        <li class="tpl-left-nav-item">
                            <a href="/help" class="nav-link tpl-left-nav-link-list">
                                <i class="am-icon-question am-icon-fw"></i>
                                <span>帮助</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>

            <!-- 正文内容 -->
            <div class="tpl-content-wrapper">
                <ol class="am-breadcrumb">
                    <li><a href="/" class="am-icon-home">首页</a></li>
                    <li class="am-active">内容</li>
                </ol>
                <div class="tpl-content-scope">
                    <div class="note note-info">
                        <h3>欢迎你，刘儒</h3>
                        <p>欢迎使用360健身工作室的后台管理系统，通过此管理系统可以对会员、教练等进行管理，由<a href="https://github.com/Layne666" target="_blank">Layne666</a>在<a
                                href="https://github.com/Layne666/gym" target="_blank">Github</a>进行代码维护。</p>
                    </div>
                </div>
                <div class="row">
                    <div class="am-u-lg-3 am-u-md-6 am-u-sm-12">
                        <div class="dashboard-stat blue">
                            <div class="visual">
                                <i class="am-icon-users"></i>
                            </div>
                            <div class="details">
                                <div class="number">1349</div>
                                <div class="desc">会员数</div>
                            </div>
                            <a class="more" href="/user"> 查看更多
                                <i class="m-icon-swapright m-icon-white"></i>
                            </a>
                        </div>
                    </div>
                    <div class="am-u-lg-3 am-u-md-6 am-u-sm-12">
                        <div class="dashboard-stat red">
                            <div class="visual">
                                <i class="am-icon-user"></i>
                            </div>
                            <div class="details">
                                <div class="number"> 6</div>
                                <div class="desc"> 教练数</div>
                            </div>
                            <a class="more" href=""> 查看更多
                                <i class="m-icon-swapright m-icon-white"></i>
                            </a>
                        </div>
                    </div>
                    <div class="am-u-lg-3 am-u-md-6 am-u-sm-12">
                        <div class="dashboard-stat green">
                            <div class="visual">
                                <i class="am-icon-table"></i>
                            </div>
                            <div class="details">
                                <div class="number"> 18</div>
                                <div class="desc"> 课程分类</div>
                            </div>
                            <a class="more" href=""> 查看更多
                                <i class="m-icon-swapright m-icon-white"></i>
                            </a>
                        </div>
                    </div>
                    <div class="am-u-lg-3 am-u-md-6 am-u-sm-12">
                        <div class="dashboard-stat purple">
                            <div class="visual">
                                <i class="am-icon-money"></i>
                            </div>
                            <div class="details">
                                <div class="number"> 845786</div>
                                <div class="desc"> 收入额（元）</div>
                            </div>
                            <a class="more" href=""> 查看更多
                                <i class="m-icon-swapright m-icon-white"></i>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="am-u-md-6 am-u-sm-12 row-mb">
                        <div class="tpl-portlet">
                            <div class="tpl-portlet-title">
                                <div class="tpl-caption font-green ">
                                    <i class="am-icon-bar-chart"></i>
                                    <span> 新会员数据统计</span>
                                </div>
                                <div class="actions">
                                    <ul class="actions-btn">
                                        <li class="red-on">本周</li>
                                        <li class="green">上周</li>
                                        <li class="blue">本月</li>
                                    </ul>
                                </div>
                            </div>

                            <!--此部分数据请在 js文件夹下中的 app.js 中的 “百度图表A” 处修改数据 插件使用的是 百度echarts-->
                            <div class="tpl-echarts" id="tpl-echarts-A">

                            </div>
                        </div>
                    </div>
                    <div class="am-u-md-6 am-u-sm-12 row-mb">
                        <div class="tpl-portlet">
                            <div class="tpl-portlet-title">
                                <div class="tpl-caption font-blue">
                                    <i class="am-icon-wpforms"></i>
                                    <span> 教练上课情况 </span>
                                </div>
                                <div class="actions">
                                    <ul class="actions-btn">
                                        <li class="red-on">今天</li>
                                        <li class="green">昨天</li>
                                        <li class="dark">本月</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="tpl-scrollable">
                                <div class="number-stats">
                                    <div class="stat-number am-fl am-u-md-6">
                                        <div class="title am-text-right"> 课时数</div>
                                        <div class="number am-text-right am-text-warning"> 12</div>
                                    </div>
                                    <div class="stat-number am-fr am-u-md-6">
                                        <div class="title"> 收入额</div>
                                        <div class="number am-text-success"> 2460</div>
                                    </div>
                                </div>

                                <table class="am-table tpl-table">
                                    <thead>
                                    <tr class="tpl-table-uppercase">
                                        <th>教练</th>
                                        <th>课时数</th>
                                        <th>收入额</th>
                                        <th>效率</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td>
                                            <img src="/assets/img/user01.png" alt="" class="user-pic">
                                            <a class="user-name" href="javascript: void(0)">禁言小张</a>
                                        </td>
                                        <td>5</td>
                                        <td>￥3213</td>
                                        <td class="font-green bold">26%</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <img src="/assets/img/user02.png" alt="" class="user-pic">
                                            <a class="user-name" href="javascript: void(0)">Alex.</a>
                                        </td>
                                        <td>17</td>
                                        <td>￥2635</td>
                                        <td class="font-green bold">32%</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <img src="/assets/img/user03.png" alt="" class="user-pic">
                                            <a class="user-name" href="javascript: void(0)">Tinker404</a>
                                        </td>
                                        <td>8</td>
                                        <td>￥1267</td>
                                        <td class="font-green bold">51%</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <img src="/assets/img/user04.png" alt="" class="user-pic">
                                            <a class="user-name" href="javascript: void(0)">Arron.y</a>
                                        </td>
                                        <td>2</td>
                                        <td>￥657</td>
                                        <td class="font-green bold">73%</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <img src="/assets/img/user05.png" alt="" class="user-pic">
                                            <a class="user-name" href="javascript: void(0)">Yves</a>
                                        </td>
                                        <td>13</td>
                                        <td>￥3907</td>
                                        <td class="font-green bold">12%</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <img src="/assets/img/user06.png" alt="" class="user-pic">
                                            <a class="user-name" href="javascript: void(0)">小黄鸡</a>
                                        </td>
                                        <td>3</td>
                                        <td>￥900</td>
                                        <td class="font-green bold">10%</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
<script src="/assets/js/echarts.min.js"></script>
<script src="/assets/js/jquery.min.js"></script>
<script src="/js/vue.min.js"></script>
<script src="/assets/js/amazeui.min.js"></script>
<script src="/assets/js/iscroll.js"></script>
<script src="/assets/js/app.js"></script>
</html>