<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>360健身工作室</title>
    <meta name="description" content="360健身工作室登录页面">
    <meta name="keywords" content="360健身工作室">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link rel="stylesheet" media="screen" href="css/style.css">
    <link rel="stylesheet" type="text/css" href="css/reset.css"/>
    <link rel="icon" type="image/png" href="assets/i/favicon.png">
</head>
<body>
<script type="text/javascript" size="90" alpha="0.2" zIndex="0" src="js/lizi.js"></script>
<div id="app">
    <div class="login">
        <div class="login-top">
            360健身工作室
        </div>
        <div class="login-center clearfix">
            <div class="login-center-img"><img src="img/name.png"/></div>
            <div class="login-center-input">
                <input type="text" v-model="param.loginname" name="" value="" placeholder="请输入您的用户名" onfocus="this.placeholder=''"
                       onblur="this.placeholder='请输入您的用户名'"/>
                <div class="login-center-input-text">用户名</div>
            </div>
        </div>
        <div class="login-center clearfix">
            <div class="login-center-img"><img src="img/password.png"/></div>
            <div class="login-center-input">
                <input type="password" v-model="param.password" name="" value="" placeholder="请输入您的密码" onfocus="this.placeholder=''"
                       onblur="this.placeholder='请输入您的密码'"/>
                <div class="login-center-input-text">密码</div>
            </div>
        </div>
        <div class="login-button" @click="login">
            登陆
        </div>
        <div class="login-bottom" v-show="success" v-text="msg"></div>
    </div>
    <div class="sk-rotating-plane"></div>
</div>

<!-- scripts -->
<script type="text/javascript">
    function hasClass(elem, cls) {
        cls = cls || '';
        if (cls.replace(/\s/g, '').length == 0) return false; //当cls没有参数时，返回false
        return new RegExp(' ' + cls + ' ').test(' ' + elem.className + ' ');
    }

    function addClass(ele, cls) {
        if (!hasClass(ele, cls)) {
            ele.className = ele.className == '' ? cls : ele.className + ' ' + cls;
        }
    }

    function removeClass(ele, cls) {
        if (hasClass(ele, cls)) {
            var newClass = ' ' + ele.className.replace(/[\t\r\n]/g, '') + ' ';
            while (newClass.indexOf(' ' + cls + ' ') >= 0) {
                newClass = newClass.replace(' ' + cls + ' ', ' ');
            }
            ele.className = newClass.replace(/^\s+|\s+$/g, '');
        }
    }

</script>
<script type="text/javascript" src="js/vue.min.js"></script>
<script type="text/javascript" src="assets/js/jquery.min.js"></script>
<script>
    const vm = new Vue({
        el:'#app',
        data:{
            param:{
                loginname:'',
                password:''
            },
            success:false,
            msg:''
        },
        methods:{
            login: function () {
                let _this = this;
                if(_this.param.loginname=='' || _this.param.password==""){
                    _this.success = true;
                    _this.msg = '用户名或密码不能为空';
                    return;
                }
                addClass(document.querySelector(".login"), "active")
                setTimeout(function () {
                    addClass(document.querySelector(".sk-rotating-plane"), "active")
                    document.querySelector(".login").style.display = "none"
                    $.ajax({
                        type:'post',
                        url:'login',
                        data: _this.param,
                        dataType:'json',
                        success:function(result){
                            if(result.success){
                                window.location.href="/";
                            }else {
                                removeClass(document.querySelector(".login"), "active")
                                removeClass(document.querySelector(".sk-rotating-plane"), "active")
                                document.querySelector(".login").style.display = "block"
                                _this.success=true;
                                _this.msg = '用户名或者密码有误';
                            }
                        }
                    });
                }, 1000)
                // setTimeout(function () {
                //     removeClass(document.querySelector(".login"), "active")
                //     removeClass(document.querySelector(".sk-rotating-plane"), "active")
                //     document.querySelector(".login").style.display = "block"
                //     alert("登录成功")
                // }, 1000)
            }
        }
    })
</script>
</body>
</html>