<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:replace="common :: head(title='记录管理-360健身工作室')"></div>
<body data-type="generalComponents">
    <div id="app">
        <!-- 头部导航栏 -->
        <div th:replace="common :: header"></div>

        <div class="tpl-page-container tpl-page-header-fixed">
            <!-- 左侧页签 -->
            <div th:replace="common :: side(activeUrl='/record')"></div>

            <!-- 正文内容 -->
            <div class="tpl-content-wrapper">
                <ol class="am-breadcrumb">
                    <li><a href="/" class="am-icon-home">首页</a></li>
                    <li class="am-active">记录管理</li>
                </ol>
                <div class="tpl-portlet-components">
                    <div class="portlet-title">
                        <div class="caption font-green bold">
                            <span class="am-icon-list-alt"></span> 记录列表
                        </div>
                    </div>
                    <div class="tpl-block">
                        <div class="am-g">
                            <div class="am-u-sm-12 am-u-md-3">
                                <div class="am-btn-toolbar">
                                    <div class="am-btn-group am-btn-group-xs">
                                        <button @click="batchDelete" th:if="${session.account.getCoach().getZt()} eq 1" type="button" class="am-btn am-btn-default am-btn-danger"><span class="am-icon-trash-o"></span> 批量删除</button>
                                        <button @click="exportExcel" type="button" class="am-btn am-btn-default am-btn-secondary"><span class="am-icon-file-excel-o"></span> 导出</button>
                                    </div>
                                </div>
                            </div>
                            <!--<div class="am-u-sm-12 am-u-md-3">-->
                                <!--<div class="am-form-group">-->
                                    <!--<select data-am-selected="{btnSize: 'sm'}">-->
                                        <!--<option value=" " selected>所有分类</option>-->
                                        <!--<option :value="course.bh" v-for="course in courses">{{ course.name }}</option>-->
                                    <!--</select>-->
                                <!--</div>-->
                            <!--</div>-->
                            <div class="am-u-sm-12 am-u-md-3">
                                <div class="am-input-group am-input-group-sm">
                                    <input v-model="name" type="text" class="am-form-field" placeholder="请输入会员姓名">
                                    <span class="am-input-group-btn">
                                        <button @click="loadData(1)" class="am-btn  am-btn-default am-btn-success tpl-am-btn-success am-icon-search" type="button"></button>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="am-g">
                            <div class="am-u-sm-12">
                                <table class="am-table am-table-striped am-table-hover table-main">
                                    <thead>
                                        <tr>
                                            <th class="table-check" th:if="${session.account.getCoach().getZt()} eq 1"><input type="checkbox" class="tpl-table-fz-check" @click="checkAll" id="checkAll"></th>
                                            <th class="table-title">会员姓名</th>
                                            <th class="table-title">教练姓名</th>
                                            <th class="table-title">课程分类</th>
                                            <th class="table-title">课时价格</th>
                                            <th class="table-title">上课课时</th>
                                            <th class="table-title">课时总价</th>
                                            <th class="table-title am-hide-sm-only">创建时间</th>
                                            <th class="table-title" th:if="${session.account.getCoach().getZt()} eq 1">操作</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr v-for="record in records">
                                            <td th:if="${session.account.getCoach().getZt()} eq 1"><input type="checkbox" :value="record.bh"></td>
                                            <td><a v-text="record.ks.user.name" href="/user"></a></td>
                                            <td><a v-text="record.coach.name" href="/coach"></a></td>
                                            <td><a v-text="record.ks.course.name" href="/course"></a></td>
                                            <td>￥<span v-text="record.ks.ksjg"></span></td>
                                            <td v-text="record.skks"></td>
                                            <td>￥<span v-text="record.kszj"></span></td>
                                            <td v-text="record.cjsj"></td>
                                            <td th:if="${session.account.getCoach().getZt()} eq 1">
                                                <div class="am-btn-toolbar">
                                                    <div class="am-btn-group am-btn-group-xs">
                                                        <button @click="del(record.bh)" class="am-btn am-btn-default am-btn-xs am-hide-sm-only am-text-danger"><span class="am-icon-trash-o"></span> 删除</button>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                <div class="am-cf">
                                    <span>共<span v-text="page.total" style="color:#be2924"></span>条记录</span>
                                    <span>总金额为<span v-text="totalPrice" style="color:#be2924"></span>元</span>
                                    <div class="am-fr">
                                        <ul class="am-pagination tpl-pagination">
                                            <li :class="{'am-disabled': page.pageNum == 0}"><a @click="loadData(page.pageNum)">«</a></li>
                                            <li><a v-text="page.pageNum-1" v-if="page.pageNum>1" @click="loadData(page.pageNum-1)"></a></li>
                                            <li><a v-text="page.pageNum" v-if="page.pageNum>0" @click="loadData(page.pageNum)"></a></li>
                                            <li class="am-active"><a v-text="page.pageNum+1"></a></li>
                                            <li><a v-text="page.pageNum+2" v-if="page.pageNum<page.pages-1" @click="loadData(page.pageNum+2)"></a></li>
                                            <li><a v-if="page.pageNum<page.pages-2" @click="loadData(page.pageNum+3)">...</a></li>
                                            <li :class="{'am-disabled': page.pageNum == page.pages-1}"><a @click="loadData(page.pageNum+2)">»</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <hr>
                            </div>
                        </div>
                    </div>
                    <div class="tpl-alert"></div>
                </div>
            </div>
        </div>
    </div>

    <div th:replace="common :: tab"></div>
</body>
<script src="/assets/js/jquery.min.js"></script>
<script src="/js/vue.min.js"></script>
<script src="/js/record.js"></script>
<script src="/assets/js/amazeui.min.js"></script>
<script src="/assets/js/app.js"></script>
</html>