<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:replace="common :: head(title='记录管理-360健身工作室')"></div>
<body data-type="generalComponents">
    <div id="app">
        <!-- 头部导航栏 -->
        <div th:replace="common :: header"></div>

        <div class="tpl-page-container tpl-page-header-fixed">
            <!-- 左侧页签 -->
            <div th:replace="common :: side(activeUrl='/record')"></div>

            <!-- 正文内容 -->
            <div class="tpl-content-wrapper">
                <ol class="am-breadcrumb">
                    <li><a href="/" class="am-icon-home">首页</a></li>
                    <li class="am-active">记录管理</li>
                </ol>
                <div class="tpl-portlet-components">
                    <div class="portlet-title">
                        <div class="caption font-green bold">
                            <span class="am-icon-list-alt"></span> 记录列表
                        </div>
                    </div>
                    <div class="tpl-block">
                        <div class="am-g">
                            <div class="am-u-sm-12 am-u-md-3">
                                <div class="am-btn-toolbar">
                                    <div class="am-btn-group am-btn-group-xs">
                                        <button @click="add" type="button" class="am-btn am-btn-default am-btn-success"><span class="am-icon-plus"></span> 新增</button>
                                        <button @click="batchDelete" type="button" class="am-btn am-btn-default am-btn-danger"><span class="am-icon-trash-o"></span> 批量删除</button>
                                        <button type="button" class="am-btn am-btn-default am-btn-secondary"><span class="am-icon-file-excel-o"></span> 导出</button>
                                    </div>
                                </div>
                            </div>
                            <div class="am-u-sm-12 am-u-md-3">
                                <div class="am-form-group">
                                    <select data-am-selected="{btnSize: 'sm'}">
                                        <option value="option1">所有分类</option>
                                        <option value="option2">瑜伽</option>
                                        <option value="option3">跑步</option>
                                        <option value="option3">拳击</option>
                                        <option value="option3">游泳</option>
                                    </select>
                                </div>
                            </div>
                            <div class="am-u-sm-12 am-u-md-3">
                                <div class="am-input-group am-input-group-sm">
                                    <input type="text" class="am-form-field" placeholder="请输入会员姓名">
                                    <span class="am-input-group-btn">
                                        <button class="am-btn  am-btn-default am-btn-success tpl-am-btn-success am-icon-search" type="button"></button>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="am-g">
                            <div class="am-u-sm-12">
                                <table class="am-table am-table-striped am-table-hover table-main">
                                    <thead>
                                        <tr>
                                            <th class="table-check"><input type="checkbox" class="tpl-table-fz-check" @click="checkAll" id="checkAll"></th>
                                            <th class="table-title">会员姓名</th>
                                            <th class="table-title">教练姓名</th>
                                            <th class="table-title">课程分类</th>
                                            <th class="table-title">课时价格</th>
                                            <th class="table-title">上课课时</th>
                                            <th class="table-title">课时总价</th>
                                            <th class="table-title am-hide-sm-only">创建时间</th>
                                            <th class="table-title">操作</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td><input type="checkbox" value="111"></td>
                                            <td><a>张三呀呀呀呀</a></td>
                                            <td><a>张三123</a></td>
                                            <td>瑜伽</td>
                                            <td>￥<span>200</span></td>
                                            <td>4</td>
                                            <td>￥<span>800</span></td>
                                            <td>2019年04月29日</td>
                                            <td>
                                                <div class="am-btn-toolbar">
                                                    <div class="am-btn-group am-btn-group-xs">
                                                        <button @click="edit" class="am-btn am-btn-default am-btn-xs am-hide-sm-only am-text-secondary"><span class="am-icon-pencil-square-o"></span> 编辑</button>
                                                        <button @click="daka" class="am-btn am-btn-default am-btn-xs am-hide-sm-only am-text-warning"><span class="am-icon-link"></span> 打卡</button>
                                                        <button @click="del(111)" class="am-btn am-btn-default am-btn-xs am-hide-sm-only am-text-danger"><span class="am-icon-trash-o"></span> 删除</button>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td><input type="checkbox" value="111"></td>
                                            <td><a>李四呀呀呀呀</a></td>
                                            <td><a>张三123</a></td>
                                            <td>瑜伽</td>
                                            <td>￥<span>200</span></td>
                                            <td>2</td>
                                            <td>￥<span>400</span></td>
                                            <td>2019年05月03日</td>
                                            <td>
                                                <div class="am-btn-toolbar">
                                                    <div class="am-btn-group am-btn-group-xs">
                                                        <button @click="edit" class="am-btn am-btn-default am-btn-xs am-hide-sm-only am-text-secondary"><span class="am-icon-pencil-square-o"></span> 编辑</button>
                                                        <button @click="daka" class="am-btn am-btn-default am-btn-xs am-hide-sm-only am-text-warning"><span class="am-icon-link"></span> 打卡</button>
                                                        <button @click="del(111)" class="am-btn am-btn-default am-btn-xs am-hide-sm-only am-text-danger"><span class="am-icon-trash-o"></span> 删除</button>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                <div class="am-cf">
                                    <span>共2条记录</span>
                                    <div class="am-fr">
                                        <ul class="am-pagination tpl-pagination">
                                            <li class="am-disabled"><a href="#">«</a></li>
                                            <li class="am-active"><a href="#">1</a></li>
                                            <li><a href="#">2</a></li>
                                            <li><a href="#">»</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <hr>
                            </div>
                        </div>
                    </div>
                    <div class="tpl-alert"></div>
                </div>
            </div>
        </div>
    </div>

    <div th:replace="common :: tab"></div>
</body>
<script src="/assets/js/jquery.min.js"></script>
<script src="/js/vue.min.js"></script>
<script src="/js/user.js"></script>
<script src="/assets/js/amazeui.min.js"></script>
<script src="/assets/js/app.js"></script>
</html>