<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:replace="common :: head(title='用户管理-360健身工作室')"></div>
<body data-type="generalComponents">
    <div id="app">
        <!-- 头部导航栏 -->
        <div th:replace="common :: header"></div>

        <div class="tpl-page-container tpl-page-header-fixed">
            <!-- 左侧页签 -->
            <div th:replace="common :: side(activeUrl='/user')"></div>

            <!-- 正文内容 -->
            <div class="tpl-content-wrapper">
                <ol class="am-breadcrumb">
                    <li><a href="/" class="am-icon-home">首页</a></li>
                    <li class="am-active">会员管理</li>
                </ol>
                <div class="tpl-portlet-components">
                    <div class="portlet-title">
                        <div class="caption font-green bold">
                            <span class="am-icon-users"></span> 会员列表
                        </div>
                    </div>
                    <div class="tpl-block">
                        <div class="am-g">
                            <div class="am-u-sm-12 am-u-md-6">
                                <div class="am-btn-toolbar">
                                    <div class="am-btn-group am-btn-group-xs">
                                        <button @click="add" type="button" class="am-btn am-btn-default am-btn-success" th:if="${session.account.getCoach().getZt()} eq 1"><span class="am-icon-plus"></span> 新增</button>
                                        <!--<button type="button" class="am-btn am-btn-default am-btn-warning"><span class="am-icon-archive"></span> 审核</button>-->
                                        <button @click="batchDelete" type="button" class="am-btn am-btn-default am-btn-danger" th:if="${session.account.getCoach().getZt()} eq 1"><span class="am-icon-trash-o"></span> 批量删除</button>
                                        <button @click="exportExcel" type="button" class="am-btn am-btn-default am-btn-secondary"><span class="am-icon-file-excel-o"></span> 导出</button>
                                    </div>
                                </div>
                            </div>
                            <div class="am-u-sm-12 am-u-md-3">
                                <div class="am-input-group am-input-group-sm">
                                    <input type="text" class="am-form-field" placeholder="请输入会员姓名" v-model="name">
                                    <span class="am-input-group-btn">
                                        <button class="am-btn am-btn-default am-btn-success tpl-am-btn-success am-icon-search" type="button" @click="loadData(1)"></button>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="am-g">
                            <div class="am-u-sm-12">
                                <table class="am-table am-table-striped am-table-hover table-main">
                                    <thead>
                                        <tr>
                                            <th class="table-check" th:if="${session.account.getCoach().getZt()} eq 1"><input type="checkbox" class="tpl-table-fz-check" @click="checkAll" id="checkAll"></th>
                                            <th class="table-title">姓名</th>
                                            <th class="table-title am-hide-sm-only">性别</th>
                                            <th class="table-title am-hide-sm-only">年龄</th>
                                            <th class="table-title am-hide-sm-only">联系方式</th>
                                            <th class="table-title">剩余上课时</th>
                                            <th class="table-title">课时价格</th>
                                            <th class="table-title">课程分类</th>
                                            <th class="table-title am-hide-sm-only">加入时间</th>
                                            <th class="table-title">操作</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr v-for="ks in kss">
                                            <td th:if="${session.account.getCoach().getZt()} eq 1"><input type="checkbox" :value="ks.bh"></td>
                                            <td><a v-text="ks.user.name"></a></td>
                                            <td v-text="ks.user.sex"></td>
                                            <td v-text="ks.user.age"></td>
                                            <td v-text="ks.user.tel"></td>
                                            <td v-text="ks.sysks"></td>
                                            <td>￥<span v-text="ks.ksjg"></span></td>
                                            <td><a v-text="ks.course.name" href="/course"></a></td>
                                            <td v-text="ks.cjsj"></td>
                                            <td>
                                                <div class="am-btn-toolbar">
                                                    <div class="am-btn-group am-btn-group-xs">
                                                        <button @click="edit(ks.bh)" th:if="${session.account.getCoach().getZt()} eq 1" class="am-btn am-btn-default am-btn-xs am-hide-sm-only am-text-secondary"><span class="am-icon-pencil-square-o"></span> 编辑</button>
                                                        <button @click="daka(ks.bh)" th:if="${session.account.getCoach().getZt()} eq 2" class="am-btn am-btn-default am-btn-xs am-hide-sm-only am-text-warning"><span class="am-icon-link"></span> 打卡</button>
                                                        <button @click="del(ks.bh)" th:if="${session.account.getCoach().getZt()} eq 1" class="am-btn am-btn-default am-btn-xs am-hide-sm-only am-text-danger"><span class="am-icon-trash-o"></span> 删除</button>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                <div class="am-cf">
                                    <span>共<span v-text="page.total" style="color:#be2924"></span>条记录</span>
                                    <div class="am-fr">
                                        <ul class="am-pagination tpl-pagination">
                                            <li :class="{'am-disabled': page.pageNum == 0}"><a @click="loadData(page.pageNum)">«</a></li>
                                            <li><a v-text="page.pageNum-1" v-if="page.pageNum>1" @click="loadData(page.pageNum-1)"></a></li>
                                            <li><a v-text="page.pageNum" v-if="page.pageNum>0" @click="loadData(page.pageNum)"></a></li>
                                            <li class="am-active"><a v-text="page.pageNum+1"></a></li>
                                            <li><a v-text="page.pageNum+2" v-if="page.pageNum<page.pages-1" @click="loadData(page.pageNum+2)"></a></li>
                                            <li><a v-if="page.pageNum<page.pages-2" @click="loadData(page.pageNum+3)">...</a></li>
                                            <li :class="{'am-disabled': page.pageNum == page.pages-1}"><a @click="loadData(page.pageNum+2)">»</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <hr>
                            </div>
                        </div>
                    </div>
                    <div class="tpl-alert"></div>
                </div>
            </div>
        </div>
    </div>
    <div th:replace="common :: tab"></div>
</body>
<script src="/assets/js/jquery.min.js"></script>
<script src="/js/vue.min.js"></script>
<script src="/js/user.js"></script>
<script src="/assets/js/amazeui.min.js"></script>
<script src="/assets/js/app.js"></script>
</html>