<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="site.layne666.gym.mapper.CoachMapper">
    <resultMap id="baseMap" type="site.layne666.gym.pojo.Coach">
        <id property="bh" column="c_bh"/>
        <result property="name" column="c_name"/>
        <result property="sex" column="c_sex"/>
        <result property="age" column="c_age"/>
        <result property="tel" column="c_tel"/>
        <result property="img" column="c_img"/>
        <result property="zt" column="n_zt"/>
    </resultMap>

    <select id="getCoaches" resultMap="baseMap">
        select
        <include refid="baseColumn"/>
        from t_coach
        where n_zt = '2'
        <if test="name!=null and name!=''">
            and c_name like concat('%',#{name},'%')
        </if>
    </select>

    <sql id="baseColumn">
        c_bh,c_name,c_sex,c_age,c_tel,c_img,n_zt
    </sql>

    <select id="getCoachByBH" resultMap="baseMap">
        select
        <include refid="baseColumn"/>
        from t_coach
        where c_bh = #{bh}
    </select>

    <insert id="insertCoach">
        insert into t_coach(c_bh,c_name,c_sex,c_age,c_tel,c_img,n_zt)
        values(#{bh},#{name},#{sex},#{age},#{tel},'https://i.loli.net/2019/05/19/5ce0ed96ac68618113.jpg',2)
    </insert>

    <delete id="deleteCoachByBh">
        delete from t_coach where c_bh = #{bh}
    </delete>

    <update id="updateCoach">
        update t_coach
        <set>
            <if test="name!=null and name!=''">
                c_name = #{name},
            </if>
            <if test="sex!=null and sex!=''">
                c_sex = #{sex},
            </if>
            <if test="age!=null and age!=''">
                c_age = #{age},
            </if>
            <if test="tel!=null and tel!=''">
                c_tel = #{tel},
            </if>
            <if test="img!=null and img!=''">
                c_img = #{img},
            </if>
        </set>
        where c_bh = #{bh}
    </update>

    <select id="countCoachs" resultType="int">
        select count(1) from t_coach where n_zt = '2'
    </select>

</mapper>