<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="site.layne666.gym.mapper.ManagerMapper">
    <resultMap id="baseMap" type="site.layne666.gym.pojo.Manager">
        <id property="bh" column="c_bh"/>
        <result property="name" column="c_name"/>
        <result property="loginName" column="c_loginname"/>
        <result property="password" column="c_password"/>
    </resultMap>

    <sql id="baseColumn">
        c_bh,c_name,c_loginname,c_password
    </sql>

    <select id="getManagers" resultMap="baseMap">
      select
      <include refid="baseColumn"/>
      from t_manager
    </select>

    <insert id="insertManager">
      insert into t_manager(c_bh,c_name,c_loginname,c_password)
      values(#{bh},#{name},#{loginName},#{password})
    </insert>

    <delete id="deleteManager">

    </delete>

</mapper>