<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="site.layne666.gym.mapper.RecordMapper">
    <resultMap id="baseMap" type="site.layne666.gym.pojo.Record">
        <id property="bh" column="c_bh"/>
        <result property="skks" column="c_skks"/>
        <result property="kszj" column="c_kszj"/>
        <result property="cjsj" column="dt_cjsj"/>
        <association property="ks" column="c_ks_bh" select="site.layne666.gym.mapper.KsMapper.getKssByBh"/>
        <association property="coach" column="c_coach_bh" select="site.layne666.gym.mapper.CoachMapper.getCoachByBH"/>
    </resultMap>

    <sql id="baseColumn">
        c_bh,c_ks_bh,c_coach_bh,c_skks,c_kszj,date_format(dt_cjsj, '%Y年%m月%d日') as dt_cjsj
    </sql>

    <select id="getRecords" resultMap="baseMap">
        select
        <include refid="baseColumn"/>
        from t_record where c_ks_bh = #{ksBh}
    </select>

    <insert id="InsertRecord">
        insert into t_record(c_bh,c_ks_bh,c_coach_bh,c_skks,c_kszj,dt_cjsj)
        values(#{bh},#{ks.bh},#{coach.bh},#{skks},#{kszj},now())
    </insert>

    <delete id="deleteRecordByBh">
        delete from t_record where c_bh = #{bh}
    </delete>

    <select id="getCurMonthRecords" resultMap="baseMap">
        select
        <include refid="baseColumn"/>
        from t_record
        where date_format(dt_cjsj,'%Y%m') = date_format(curdate(),'%Y%m')
    </select>
</mapper>